[% META title = 'Сепулькарий' -%]

<head>
	<title>[% template.title%]</title>
	<!<link rel="stylesheet" href="[% c.uri_for('/static/css/main.css') %]" />
</head>

<body>
	<table>
		<tr>
			<td>
				<a href="[% c.uri_for('sepulkas/list').path_query %]">Сепульки</a>
			</td>
			<td>
                <a href="[% c.uri_for('sepulkariums/list').path_query %]">Сепулькарии</a>
            </td>
		</tr>
	</table>
</body>

