<table>
    <tr>
        <td><input type="text" name="sepulkarium_id" hidden="true" value="[% sepulkarium.sepulkarium_id || '' | html %]"></td>
    </tr>
    <tr>
        <td>Название</td>
        <td><input type="text" name="name" value="[% sepulkarium.name || '' | html %]"></td>
    </tr>
    <tr>
</table>
